# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# macOS system files
.DS_Store

# Cache file (local data storage)
cached_showtimes.json
